$size-200: 10px;
$size-300: 12px;
$size-400: 14px;
$size-500: 16px;
$size-600: 18px;
$size-700: 22px;
$size-800: 28px;
$size-900: 32px;
$font-weight-default: 450;
$font-weight-accent: 600;
$font-common: "Space Grotesk", sans-serif;

