$radius-025: 1px;
$radius-050: 2px;
$radius-000: 0;
$radius-100: 4px;
$radius-200: 6px;
$radius-300: 8px;
$radius-400: 10px;
$radius-500: 12px;
$radius-600: 16px;
$radius-700: 20px;
$radius-800: 24px;
$radius-900: 28px;
$radius-999: 999px;
