a, button {
  transition: $var-base-animation-time $var-transition-timing;
  cursor: pointer;
  background-color: transparent;
  color: currentcolor;

}


.button-master {
  color: var(--color-bg-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  padding: 10px;
  border-radius: 4px;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-bg-black);
  }

  &:active {

  }

  &:focus {

  }

  &:disabled {

  }
}
